{% extends "stats/base.html" %}
{% load general %}

{% block title %}Submission Upload | Gentoostats {% endblock title %}

{% block content %}
    {% h1 "Submission Upload" %}

    {% if form.errors %}
        <p class='error'>Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
