{% extends "stats/base.html" %}
{% load general %}

{% block title %}About | Gentoostats{% endblock title %}

{% block content %}
    {% h1 "About Gentoostats" %}

    <p>The Gentoostats project aims to collect and analyse various statistics
    about Gentoo systems.</p>
    <p>This is an updated version of Gentoostats for GSoC 2012 and is based on
    the work of Vikraman Choudhury for his GSoC 2011 project, "Gentoostats".</p>
    <p>The current maintainer is G. Gaydarov (gg7). Feel free to contact me on
    Freenode.</p>
    </br>
    <p>Server code repository: <a href="https://github.com/gg7/gentoostats_server">github.com/gg7/gentoostats_server</a>.</p>
    <p>Client code repository: <a href="https://github.com/gg7/gentoostats">github.com/gg7/gentoostats</a>.</p>
{% endblock content %}
