{% extends "stats/base.html" %}
{% load package_helpers %}
{% load general %}

{% block head %}
    <script src="{{ STATIC_URL }}js/d3.2.10.0.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.0.min.js"></script>
    {{ block.super }}

    <script type="text/javascript">
        var stats = {{ stats|safe }};
        var chartWidth = 0;

        function slugify(text) {
            text = text.replace(/[^-a-zA-Z0-9,/&\s]+/ig, '');
            text = text.replace(/[\s/]/gi, "-");
            text = text.replace(/--/gi, "-");
            return text.toLowerCase();
        }

        function genChart(data) {
            chartWidth = chartWidth || $("#content").width();
            /* console.log(chartWidth) */

            function filterDead(data) {
                return data.filter(function(e) { return e[0][1] >= 1; });
            }

            data = filterDead(data);

            var chart = d3.select("#content")
                .append("svg")
                    .attr("class", "stats")
                    .attr("width", chartWidth)
                    .attr("height", data.length * 25);

            // Draw the application names:
            var namesData = data.map(function(e) { return e[0][0]; });
            var names = chart.selectAll("text.name")
                .data(namesData)
                .enter()
                .append("text")
                    .attr("class", "name")
                    .attr("x", 0)
                    .attr("y", function(d, i) { return 25 * i + 20; } )
                    .attr("width", 150)
                    .attr("height", 20)
                    .style("font-size", "20px")
                    .text(function(d) { return d; });

            // Draw the bars:
            var barsData = data.map(function(e) { return e[0][1]; });
            var bars = chart.selectAll("rect")
                .data(barsData)
                .enter()
                .append("rect")
                    .attr("x", 200)
                    .attr("y", function(d, i) { return 25 * i; } )
                    .attr("width", 0)
                    .attr("height", "20")
                    .attr("stroke", "none") // no borders
                    .attr("fill", "#07da19");

            var maxBarWidth = chartWidth - 265;
            barWidthFunction = d3.scale.linear()
                .domain([0, 100])
                .range(["0px", maxBarWidth + "px"]);

            // And make them grow:
            var visibleBars = chart.selectAll("rect")
                .transition().duration(1500).delay(200)
                .attr("width", function(d) {/* console.log(d); */ return barWidthFunction(d);})
                .attr("fill", "rgb(102,73,231)");

            // Finally, draw the percentage information:
            var percentagesData = data.map(function(e) { return e[0][1]; });
            var percentages = chart.selectAll("text.percentage")
                .data(percentagesData)
                .enter()
                .append("text")
                    .attr("class", "percentage")
                    .attr("x", chartWidth - 55)
                    .attr("y", function(d, i) { return 25 * i + 20; } )
                    .attr("width", 55)
                    .attr("height", 20)
                    .style("font-size", "20px")
                    .text(function(d) { return d + "%"; });
        }

        $(document).ready(function() {
            $.each(stats, function(i, e) {
                header = e.shift();
                $("<h2><a class=\"header\" name=\"" + slugify(header) + "\">" + header + "</a></h2>").appendTo("#content");
                genChart(e);
            });

            currentHash = window.location.hash.replace('#', '');
            if (currentHash != '') {
                $(document.body).animate({
                    'scrollTop': $('a[name="' + currentHash + '"]').offset().top
                }, 1500);
            }
        });
    </script>
{% endblock head  %}

{% block title %}Application Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% h1 "Application Statistics" %}
{% endblock content %}
