{% extends "stats/base.html" %}
{% load general %}

{% block title %}Detailed FEATURE Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with this_sucks="Detailed FEATURE Statistics for '"|append:feature|append:"'" %}
        {% h1 this_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ feature.num_submissions|default_if_none:"?" }} submission{{ feature.num_submissions|default_if_none:2|pluralize }}.</li>
        <li>Currently used by {{ feature.num_hosts|default_if_none:"?" }} host{{ feature.num_hosts|default_if_none:2|pluralize }}.</li>
        <li>Has been used by {{ feature.num_all_hosts|default_if_none:"?" }} host{{ feature.num_all_hosts|default_if_none:2|pluralize }}.</li>
        <li>Added on {{ feature.added_on|default_if_none:"?" }}.</li>
    </ul>
{% endblock content %}
