{% extends "stats/base.html" %}
{% load general %}

{% block title %}Detailed {{ stats_type }} Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with this_sucks="Detailed "|append:stats_type|append:" Statistics for '"|append:value|append:"'" %}
        {% h1 this_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ num_submissions|default_if_none:"?" }} submission{{ num_submissions|default_if_none:2|pluralize }}.</li>
        <li>Currently used by {{ num_hosts|default_if_none:"?" }} host{{ num_hosts|default_if_none:2|pluralize }}.</li>
        <li>Has been used by {{ num_all_hosts|default_if_none:"?" }} host{{ num_all_hosts|default_if_none:2|pluralize }}.</li>
        <li>Added on {{ added_on|default_if_none:"?" }}.</li>
    </ul>
{% endblock content %}
