{% extends "stats/base.html" %}
{% load general %}

{% block title %}Detailed Host Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with this_sucks="Detailed Host Statistics for '"|append:host.id|append:"'" %}
        {% h1 this_sucks %}
    {% endwith %}

    {% with latest_submission=host.latest_submission %}
        {% if latest_submission %}
            <h2>Submissions:</h2>
            <ul>
            {% for id, added_on, protocol in host.submission_history %}
                <li><a href="{% url 'stats:submission_details_url' host_id=host.id relative_id=forloop.counter %}">{{ added_on }} (protocol: {{ protocol }})</a></li>
            {% endfor %}
            </ul>

            <h2>Latest submission</h2>
            {% include 'stats/submission_simple.html' with submission=latest_submission %}
        {% else %}
            <h2>No existing submissions.</h2>
        {% endif %}
    {% endwith %}
{% endblock content %}
