{% extends "stats/base.html" %}
{% load general %}

{% block title %}Host Search | Gentoostats {% endblock title %}

{% block content %}
    {% h1 "Host Search" %}

    {% if form.errors %}
        <p class='error'>Please correct the error{{ form.errors|pluralize }} below.</p>
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Search">
    </form>
{% endblock content %}
