{% extends "stats/base.html" %}
{% load general %}

{% block title %}Detailed Keyword Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with this_sucks="Detailed Keyword Statistics for '"|append:keyword|append:"'" %}
        {% h1 this_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ keyword.num_submissions|default_if_none:"?" }} submission{{ feature.num_submissions|default_if_none:2|pluralize }}.</li>
        <li>Currently used by {{ keyword.num_hosts|default_if_none:"?" }} host{{ keyword.num_hosts|default_if_none:2|pluralize }}.</li>
        <li>Has been used by {{ keyword.num_all_hosts|default_if_none:"?" }} host{{ keyword.num_all_hosts|default_if_none:2|pluralize }}.</li>
        <li>Added on {{ keyword.added_on|default_if_none:"?" }}.</li>
    </ul>
{% endblock content %}
