{% extends "stats/base.html" %}

{% load general %}
{# {% load prettytimes_tags %} #}
{% load humanize %}

{% block title %}Overall Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% h1 "Overall statistics" %}

    {% if hosts.count %}
        <h2>{{ submissions.count }} Submissions from {{ hosts.count }} hosts</h2>
        <p>Latest public submissions:</p>
        <ul>
            {% for submission in latest_public_submissions_all|slice:"10" %}
                <li><a href={{ submission.get_absolute_url }}>{{ submission.arch_classified }} | {{ submission.installations.count }} packages | {{ submission.added_on|naturaltime }}</a></li>
            {% endfor %}
        </ul>

        <h2>{{ packages.count }} Packages with {{ useflags.count }} USE flags</h2>
        <p>Todo</p>

        {% if country_stats %}
            <h2>Countries</h2>
            <table border="1">
                <th>Country</th>
                <th>Hosts</th>
                {% for country, num_hosts in country_stats %}
                    <tr>
                        <td>{{ country|default_if_none:"unknown" }}</td>
                        <td>{{ num_hosts }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

        <h2>Architectures</h2>
        <table border="1">
            <th>Arch</th>
            <th>Hosts</th>
            {% for arch, num_hosts in arch_stats %}
                <tr>
                    <td><a href="{% url 'stats:arch_details_url' arch=arch %}">{{ arch }}</a></td>
                    <td>{{ num_hosts }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Keywords</h2>
        <table border="1">
            <th>Keyword</th>
            <th>Hosts</th>
            {% for keyword in keywords %}
                <tr>
                    <td><a href="{{ keyword.get_absolute_url }}">{{ keyword }}</a></td>
                    <td>{{ keyword.num_hosts_fast|default_if_none:keyword.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>Profiles</h2>
        <table border="1">
            <th>Profile</th>
            <th>Hosts</th>
            {% for profile, num_hosts in profile_stats %}
                <tr>
                    <td><a href="{% url 'stats:profile_details_url' profile=profile %}">{{ profile }}</a></td>
                    <td>{{ num_hosts }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>FEATUREs</h2>
        <table border="1">
            <th>FEATURE</th>
            <th>Hosts</th>
            {% for feature in features %}
                <tr>
                    <td><a href="{{ feature.get_absolute_url }}">{{ feature }}</a></td>
                    <td>{{ feature.num_hosts_fast|default_if_none:feature.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>

        <h2>$LANG</h2>
        <table border="1">
            <th>$LANG</th>
            <th>Hosts</th>
            {% for lang in langs %}
                <tr>
                    <td>{{ lang }}</td>
                    <td>{{ lang.num_hosts_fast|default_if_none:lang.num_hosts|default_if_none:"?" }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>No submissions/hosts are present yet.</h2>
    {% endif %}
{% endblock content %}
