{% extends "stats/base.html" %}
{% load general %}

{% block title %}Detailed Server Statistics | Gentoostats {% endblock title %}

{% block content %}
    {% with this_sucks="Detailed Server Statistics for '"|append:server|append:"'" %}
        {% h1 this_sucks %}
    {% endwith %}

    <ul>
        <li>Present in {{ server.num_submissions|default_if_none:"?" }} submission{{ server.num_submissions|default_if_none:2|pluralize }}.</li>
        <li>Currently used by {{ server.num_hosts|default_if_none:"?" }} host{{ server.num_hosts|default_if_none:2|pluralize }}.</li>
        <li>Has been used by {{ server.num_all_hosts|default_if_none:"?" }} host{{ server.num_all_hosts|default_if_none:2|pluralize }}.</li>
        <li>Added on {{ server.added_on|default_if_none:"?" }}.</li>
    </ul>
{% endblock content %}
