{% extends "stats/base.html" %}
{% load general %}

{% block title %}Home | Gentoostats{% endblock title %}

{% block content %}
    {% h1 "Available Statistics" %}

    <ul>
        <li><a href="{% url 'stats:overall_stats_url' %}">Overall stats</a></li>
        <li><a href="{% url 'stats:app_stats_url' %}">App stats</a></li>
        <li><a href="{% url 'stats:host_search_url' %}">Host search</a></li>
        <li><a href="{% url 'stats:use_stats_url' %}">USE stats</a></li>
        <li><a href="{% url 'stats:repository_stats_url' %}">Repository stats</a></li>
        <li><a href="{% url 'stats:package_search_url' %}">Package stats</a></li>
        <li><a href="{% url 'stats:server_stats_url' %}">Server stats</a></li>
    </ul>
{% endblock content %}
