{% extends "stats/base.html" %}
{% load package_helpers %}
{% load general %}

{% block title %}Detailed Submission Statistics | Gentoostats {% endblock title %}

{% block content %}
    <h1>Detailed Submission Statistics</h1>

    {% include 'stats/submission_simple.html' with submission=submission %}

    <li>Installed packages:</li>
    {% with installations=submission.installations.all %}
        {% if installations %}
            <ul>
            {% for installation in installations %}
                <li>{{ installation.package }} [{{ installation|format_use_flags }}] ({{installation.built_at}})</li>
            {% endfor %}
            </ul>
        {% else %}
            <li>None or not reported.</li>
        {% endif %}
    {% endwith %}
{% endblock content %}
