<VirtualHost *:80>
	ServerName {{ domain }}
	# ServerAlias www.gentoostats.com
	ServerAdmin {{ admin_email }}

	Alias /robots.txt {{ project_repo }}/django_gentoostats/gentoostats/static/robots.txt
	Alias /favicon.ico {{ project_repo }}/django_gentoostats/gentoostats/static/favicon.ico

	AliasMatch ^/([^/]*\.css) {{ project_repo }}/django_gentoostats/gentoostats/static/styles/$1

	Alias /media/ {{ project_repo }}/django_gentoostats/gentoostats/media/
	Alias /static/ {{ project_repo }}/django_gentoostats/gentoostats/static/

	<Directory {{ project_repo }}/django_gentoostats/gentoostats/static>
		Options -Indexes
		Order deny,allow
		Allow from all
	</Directory>

	<Directory {{ project_repo }}/django_gentoostats/gentoostats/media>
		Options -Indexes
		Order deny,allow
		Allow from all
	</Directory>

	# NOTE: https://code.google.com/p/modwsgi/wiki/VirtualEnvironments

	WSGIScriptAlias / {{ project_code }}/django_gentoostats/gentoostats/wsgi.py
	# TODO: dont hardcode 2.7 here
	WSGIDaemonProcess {{ domain }} user=gentoostats group=gentoostats processes=2 threads=15 display-name=%{GROUP} python-path={{ project_venv }}/lib/python2.7/site-packages
	WSGIProcessGroup {{ domain }}

	WSGIPassAuthorization On
	WSGIScriptReloading On

	<Directory {{ project_code }}/django_gentoostats/gentoostats>
		<Files wsgi.py>
			Order deny,allow
			Require all granted
		</Files>
	</Directory>

	ErrorLog ${APACHE_LOG_DIR}/gentoostats_error.log

	# Possible values include: debug, info, notice, warn, error, crit,
	# alert, emerg.
	LogLevel debug

	CustomLog ${APACHE_LOG_DIR}/gentoostats_access.log combined
</VirtualHost>

# vim: noexpandtab ts=4 filetype=apache :
